mixin icon(name,mod,fs)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="img/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="img/sprite/symbol/sprite.svg#" + name)

mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href)
				span=text
			+icon("arrow-right","ml-auto")
		else
			span.breadcrumbs__text=text

mixin cardNewBuilding(img,title,metro,duration,price)
	.card 
		button.favorites(type="button")
			+icon("heart", "c-white")
		a(href="#") 
			img(src="img/common/"+img, alt=title)
		a.fs-20.fw-bold.mb-5(href="#")=title
		.flex-sm-center-between.flex-wrap 
			.align-items-center.mr-20.mt-10
				+icon("metro", "c-gray mr-10")
				p=metro
			.align-items-center.mr-20.mt-10
				+icon("man", "c-gray mr-10")
				p=duration
			p.price.mt-10=price

mixin cardNewAds(img,price,info,info2,location)
	.card.card__new-ads 
		button.favorites(type="button")
			+icon("heart", "c-white")
		a(href="#") 
			img(src="img/common/"+img, alt="")
		.card_bottom
			a.fs-20.fw-bold(href="#")=price
			.flex-wrap 
				p.mr-20.mt-10=info
				p.mr-20.mt-10=info2
			.align-items-center.mt-10
				+icon("location", "c-black mr-10")
				p.text-nowrap=location

mixin cardNewNews(img,date,eye,link)
	.card.card__new-news
		a(href="#") 
			img(src="img/common/"+img, alt="")
		.card_bottom
			.align-items-center.mb-15 
				.align-items-center.mr-15 
					+icon("calendar","c-gray")
					span.fs-12.c-gray=date
				.align-items-center 
					+icon("eye","c-gray")
					span.fs-12.c-gray=eye
			a.fw-bold.line-clamp(href="#")=link


mixin cardAds(img,info1,info2,info3,place,price,area)
	.card__ads
		img.card__ads_img(src="img/common/"+img, alt="")
		.card__ads_content
			.flex-center-between 
				div
					p.c-white.mb-5 
						span.mr-15=info1
						span.mr-15=info2
						span=info3
					.align-items-center
						+icon("location", "c-white mr-5")
						p.c-white=place
				
				button.favorites.__v2(type="button")
					+icon("heart", "c-white")
			.flex-center-between.card__ads_b
				.c-white.card__ads_b-price 
					p.fs-20.fw-bold.mb-5.mr-10=price 
					p=area
				a.btn.lh-45(href="#") ПОКАЗАТЬ КОНТАКТЫ