
.popup(data-popup="popup-filter")
    .popup-container.stopPropagation 
        .popup-head.flex-center-between
            p.popup-title Все фильтры
            button.btn-close(type="button")
                +icon("close")
        .popup-body 
            .popup-body_row 
                .col 
                    p.text1.mb-15 Тип недвижимости
                    .select.stopPropagation
                        .select-item 
                            span
                                span.c-gray Не выбрано
                            +icon("arrow-down")
                        .select-drop
                            ul.select-menu 
                                each val, index in ['Квартира', 'Дома']
                                    li.select-option(class=index==0?'active':'')=val
                                
                .col
                    p.text1.mb-15 Этажность Дома
                    .grid-halfs
                        input(type="text" placeholder="От")
                        input(type="text" placeholder="До")
                .col
                    p.text1.mb-15 Год постройки дома
                    .grid-halfs
                        .unit(data-unit="г.")
                            input(type="text" placeholder="От")
                        .unit(data-unit="г.")
                            input(type="text" placeholder="До")
                .col
                    p.text1.mb-15 Общая площадь
                    .grid-halfs
                        .unit(data-unit="м²")
                            input(type="text" placeholder="От")
                        .unit(data-unit="м²")
                            input(type="text" placeholder="До")
                .col
                    p.text1.mb-15 Площадь кухни
                    .grid-halfs
                        .unit(data-unit="м²")
                            input(type="text" placeholder="От")
                        .unit(data-unit="м²")
                            input(type="text" placeholder="До")
                .col
                    p.text1.mb-15 Жилая площадь
                    .grid-halfs
                        .unit(data-unit="м²")
                            input(type="text" placeholder="От")
                        .unit(data-unit="м²")
                            input(type="text" placeholder="До")
                .col 
                    p.text1.mb-15 Материал стен
                    .select.stopPropagation
                        .select-item 
                            span
                                span.c-gray Любой
                            +icon("arrow-down")
                        .select-drop
                            ul.select-menu 
                                each val, index in ['Любой','Любой']
                                    li.select-option(class=index==0?'active':' ')=val
                .col
                    p.text1.mb-15 Этаж
                    .grid-halfs
                        input(type="text" placeholder="От")
                        input(type="text" placeholder="До")
                .col 
                    p.text1.mb-15 Расстояние до метро
                    .select.stopPropagation
                        .select-item 
                            span
                                span.c-gray Любой
                            +icon("arrow-down")
                        .select-drop
                            ul.select-menu 
                                each val, index in ['Любой','Любой']
                                    li.select-option(class=index==0?'active':' ')=val
                .col 
                    p.text1.mb-15 Санузел
                    .select.stopPropagation
                        .select-item 
                            span
                                span.c-gray Любой
                            +icon("arrow-down")
                        .select-drop
                            ul.select-menu 
                                each val, index in ['Любой','Любой']
                                    li.select-option(class=index==0?'active':' ')=val
                .col 
                    p.text1.mb-15 Высота потолка
                    .select.stopPropagation
                        .select-item 
                            span
                                span.c-gray Любой
                            +icon("arrow-down")
                        .select-drop
                            ul.select-menu 
                                each val, index in ['Любой','Любой']
                                    li.select-option(class=index==0?'active':' ')=val
                .col 
                    p.text1.mb-15 Окна
                    .select.stopPropagation
                        .select-item 
                            span
                                span.c-gray Любой
                            +icon("arrow-down")
                        .select-drop
                            ul.select-menu 
                                each val, index in ['Любой','Любой']
                                    li.select-option(class=index==0?'active':' ')=val
        .popup-footer 
            button.btn3(type="reset") ОЧИСТИТЬ ФИЛЬТР
            button.btn(type="submit") ПОКАЗАТЬ 12 999 ПРЕДЛОЖЕНИЙ
