footer.footer
    .container 
        .flex-center-between 
            h2.title2 Недвижимость по всей России
            a.link(href="#") Смотреть полный список
        .footer-row.flex-wrap.justify-md-content-between
            ul.footer-col 
                each val in ['Новокузнецк','Тверь','Новороссийск','Казань','Саратов']
                    li  
                        a(href="#")=val
            ul.footer-col 
                each val in ['Прокопьевск','Санкт-Петербург','Сургут','Брянск','Смоленск']
                    li  
                        a(href="#")=val
            ul.footer-col 
                each val in ['Великий Новгород','Калуга','Нижний Новгород','Тамбов','Владимир']
                    li  
                        a(href="#")=val
            ul.footer-col 
                each val in ['Курск','Вологда','Кострома','Тверь','Орел']
                    li  
                        a(href="#")=val
            ul.footer-col 
                each val in ['Саранск','Липецк','Воронеж','Тула','Рязань']
                    li  
                        a(href="#")=val
        .footer-bottom 
            .flex-center-between 
                ul.flex-wrap 
                    each val, index in ['ПРОДАЖА','АРЕНДА','НОВОСТРОЙКИ','ИПОТЕКА','ЦЕНЫ','ЖУРНАЛ']
                        li.mb-20(class=index==(val.length - 1)? '':'mr-25') 
                            a.fw-bold.c-gray(href="#")=val
                ul.d-flex
                    each val in ['viber','youtube','twitter','telegram','instagram','facebook']
                        li.mb-20 
                            a(href="#") 
                                +icon(val,"social c-gray")
            .flex-center-between.flex-wrap 
                p.c-gray © ООО «Мир квартир», 2008 — 2021
                .align-items-center
                    a.link2(href="#") Условия использования
                    a.link2.ml-30(href="#") Конфиденциальность
